<h3>Categorias:</h3>



<div class="row">

    {{#each categorias}}

    <div class="col-sm-3">


    
    <a href="/lista/categorias/post/{{slug}}">
    
    <div>
        <h5 >{{nome}}</h5>
        <img src="../../public/img/icons/folder.png" class="card-img-top img-fluid" style="width: 200px;" alt="{{nome}}">
    </div>
    
    </a>


  </div>

{{else}}

{{/each}}
  
</div>