<h3>Login:</h3>
<div class="text-center">

    
    <div class="card">
        <div class="card-body">
            
            <main class="form-signin">
  <form method="post">
    
    <div class="form-floating mt-4">
      <input type="email" class="form-control" id="floatingInput" placeholder="Nome.." name="email">
      <label for="floatingInput">Usuário</label>
    </div>
    <div class="form-floating mt-4">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="senha">
      <label for="floatingPassword">Senha</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Login</button>
  </form>
</main>

        </div>
    </div>
</div>